interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/positions?limit=100
  response:
    body:
      string: '{"cursor":"","event_positions":[{"event_exposure":0,"event_exposure_dollars":"0.0000","event_ticker":"KXCSGOGAME-FURG225","fees_paid":0,"fees_paid_dollars":"0.0000","realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_order_count":3,"total_cost":0,"total_cost_dollars":"0.0000"}],"market_positions":[{"fees_paid":0,"fees_paid_dollars":"0.0000","last_updated_ts":"2025-11-03T18:02:01.971208Z","market_exposure":0,"market_exposure_dollars":"0.0000","position":0,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":3,"ticker":"KXCSGOGAME-FURG225-G2","total_traded":0,"total_traded_dollars":"0.0000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/fills?limit=50
  response:
    body:
      string: '{"cursor":"","fills":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders?status=resting&limit=100
  response:
    body:
      string: '{"cursor":"","orders":[{"action":"buy","client_order_id":"4c279d31-2766-4182-8e8a-3eba3bd154b6","created_time":"2025-11-03T18:02:03.749329Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-11-03T18:02:03.749329Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"a5b064cd-d824-4428-a7ee-8d3cc8506091","queue_position":0,"remaining_count":1,"self_trade_prevention_type":null,"side":"yes","status":"resting","taker_fees":0,"taker_fees_dollars":null,"taker_fill_cost":0,"taker_fill_cost_dollars":"0.0000","ticker":"KXCSGOGAME-FURG225-G2","type":"limit","user_id":"9940974f-9a5c-47f2-b103-d46164f7f355","yes_price":1,"yes_price_dollars":"0.0100"},{"action":"sell","client_order_id":"da2af8c2-bd3b-4325-94a2-8243fd903514","created_time":"2025-11-03T18:02:03.039376Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-11-03T18:02:03.039376Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"1734af3c-7378-4efc-a066-82571e2aaa1b","queue_position":0,"remaining_count":1,"self_trade_preve[...]
