interactions:
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 1, "type":
      "limit", "yes_price": 1, "time_in_force": "ioc", "post_only": true, "reduce_only":
      false, "self_trade_prevention_type": "cancel_resting", "buy_max_cost": 100,
      "sell_position_floor": 0}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"service_unavailable","message":"service_unavailable","service":"exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 503
      message: Service Unavailable
version: 1
