interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/trades?limit=20
  response:
    body:
      string: '{"cursor":"EhIKEEfLSTYFsWHM_ewvtnsgLhsaCwjJ_6PIBhCQkIRL","trades":[{"count":38,"created_time":"2025-11-03T19:17:30.888139Z","no_price":35,"no_price_dollars":"0.3500","price":0.65,"taker_side":"no","ticker":"KXETH-25NOV0315-B3890","trade_id":"50c0dded-feab-6276-819b-ec223f8b5bfc","yes_price":65,"yes_price_dollars":"0.6500"},{"count":33,"created_time":"2025-11-03T19:17:30.784672Z","no_price":2,"no_price_dollars":"0.0200","price":0.98,"taker_side":"yes","ticker":"KXETH-25NOV0315-B3890","trade_id":"9b49344d-36e6-6ad4-1824-5e4cb801bc75","yes_price":98,"yes_price_dollars":"0.9800"},{"count":7,"created_time":"2025-11-03T19:17:30.558454Z","no_price":64,"no_price_dollars":"0.6400","price":0.36,"taker_side":"yes","ticker":"KXDOGE-25NOV0315-B0.172","trade_id":"a3d25e13-8424-4ec4-3b2c-990e44949893","yes_price":36,"y[...]
