interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/events?limit=10&status=open
  response:
    body:
      string: '{"cursor":"CgYI8OvP6AgSFktYTkVYVElTUkFFTFBNLTQ1SkFOMDE","events":[{"available_on_brokers":false,"category":"World","collateral_return_type":"","event_ticker":"KXELONMARS-99","mutually_exclusive":false,"series_ticker":"KXELONMARS","strike_period":"","sub_title":"Before
        2099","title":"Will Elon Musk visit Mars in his lifetime?"},{"available_on_brokers":false,"category":"World","collateral_return_type":"MECNET","event_ticker":"KXNEWPOPE-70","mutually_exclusive":true,"series_ticker":"KXNEWPOPE","strike_period":"","sub_title":"Before
        2070","title":"Who will the next Pope be?"},{"available_on_brokers":false,"category":"Climate
        and Weather","collateral_return_type":"","event_ticker":"KXWARMING-50","mutually_exclusive":false,"series_ticker":"KXWARMING","strike_peri[...]
