interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/trades?limit=100
  response:
    body:
      string: '{"cursor":"EhIKEDuPU6KUy11ej9Yz1RI7lvEaDAjMoKTIBhCo3Im9AQ","trades":[{"count":23,"created_time":"2025-11-03T20:28:24.875149Z","no_price":57,"no_price_dollars":"0.5700","price":0.43,"taker_side":"no","ticker":"KXETHD-25NOV0316-T3209.99","trade_id":"9b5aaba7-2a86-55ad-2312-ccffc95087ec","yes_price":43,"yes_price_dollars":"0.4300"},{"count":37,"created_time":"2025-11-03T20:28:24.81185Z","no_price":3,"no_price_dollars":"0.0300","price":0.97,"taker_side":"yes","ticker":"KXETHD-25NOV0316-T4029.99","trade_id":"17afa5d8-8801-43ca-6dca-2dce447ce256","yes_price":97,"yes_price_dollars":"0.9700"},{"count":19,"created_time":"2025-11-03T20:28:24.70954Z","no_price":3,"no_price_dollars":"0.0300","price":0.97,"taker_side":"yes","ticker":"KXETHD-25NOV0316-T4029.99","trade_id":"509ebe56-3abd-469e-bd20-58d841361b9e","yes_price":9[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/trades?limit=100&cursor=EhIKEDuPU6KUy11ej9Yz1RI7lvEaDAjMoKTIBhCo3Im9AQ
  response:
    body:
      string: '{"cursor":"EhIKEDnT6-_443eObkahJeoCPJUaDAizoKTIBhCYyPvWAQ","trades":[{"count":50,"created_time":"2025-11-03T20:27:56.129194Z","no_price":86,"no_price_dollars":"0.8600","price":0.14,"taker_side":"yes","ticker":"KXDOGE-25NOV0316-B0.242","t[...]
