interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?limit=10&status=closed
  response:
    body:
      string: '{"cursor":"CgwI1_ygyAYQyOjLsQMSGUtYRVRIRC0yNU5PVjAzMDktVDQzNzkuOTk","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-03T19:40:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1440","expected_expiration_time":"2025-11-03T19:40:00Z","expiration_time":"2025-11-03T19:40:00Z","expiration_value":"2.0","last_price":44,"last_price_dollars":"0.4400","latest_expiration_time":"2025-11-03T19:40:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":0,"no_bid_dollars":"0.0000","no_sub_title":"3","notional_value":100,"notional_value_dollars":"1.0000","open_interest":209,"open_time":"2025-11-03T19:30:00Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":"no","risk_limit_cents":0,"rules_primary":"If
        1+1 equals 3 on Nov 03 at 14:40 the market resolves to Yes.","rules_secondary":"","settlement_timer_seconds":60,"settlement_value":0,"settlement_value_dollars":"0.0000","status":"closed","subtitle":"","tick_size":1,"ticker":"KXQUICKSETTLE-25NOV03H1440-3","title":"Will
        1+1 equal 3 on Nov 03 at 14:40?","volume":220,"volume_24h":220,"yes_ask":100,"yes_ask_dollars":"1.0000","yes_bid":0,"yes_bid_dollars":"0.0000","yes_sub_title":"3"},{"can_close_early":true,"category":"","close_time":"2025-11-03T19:40:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1440","expected_expiration_time":"2025-11-03T19:40:00Z","expiration_time":"2025-11-03T19:40:00Z","expiration_value":"2.0","last_price":45,"last_price_dollars":"0.4500","latest_expiration_time":"2025-11-03T19:40:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":0,"no_bid_dollars":"0.0000","no_sub_title":"2","notio[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/KXQUICKSETTLE-25NOV03H1440-3/orderbook?depth=10
  response:
    body:
      string: '{"orderbook":{"no":null,"no_dollars":null,"yes":null,"yes_dollars":null}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
