interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/KXNCAAMBSPREAD-25NOV03BRADSBON-SBON8
  response:
    body:
      string: '{"market":{"can_close_early":true,"category":"","close_time":"2025-11-17T16:00:00Z","custom_strike":{"basketball_team":"120ce01a-73f9-4863-b6a8-b5a3afc64d78"},"early_close_condition":"This
        market will close and expire after a winner is declared.","event_ticker":"KXNCAAMBSPREAD-25NOV03BRADSBON","expected_expiration_time":"2025-11-03T19:00:00Z","expiration_time":"2025-11-17T16:00:00Z","expiration_value":"","floor_strike":8.5,"last_price":0,"last_price_dollars":"0.0000","latest_expiration_time":"2025-11-17T16:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":100,"no_bid_dollars":"1.0000","no_sub_title":"St.
        Bonaventure wins by over 8.5 Points","notional_value":100,"notional_value_dollars":"1.0000","open_interest":0,"open_time":"2025-11-03T18:24:48Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        St. Bonaventure wins by more than 8.5 points in the Bradley at St. Bonaventure
        college basketball game originally scheduled for Nov 3, 2025, then the market
        resolves to Yes.","rules_secondary":"","settlement_timer_seconds":300,"status":"open","strike_type":"greater","subtitle":"","tick_size":1,"ticker":"KXNCAAMBSPREAD-25NOV03BRADSBON-SBON8","title":"St.
        Bonaventure wins by over 8.5 Points?","volume":0,"volume_24h":0,"yes_ask":0,"yes_ask_dollars":"0.0000","yes_bid":0,"yes_bid_dollars":"0.0000","yes_sub_title":"St.
        Bonaventure wins by over 8.5 Points"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
