interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/KXQUICKSETTLE-25NOV03H1420-2
  response:
    body:
      string: '{"market":{"can_close_early":true,"category":"","close_time":"2025-11-03T19:20:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1420","expected_expiration_time":"2025-11-03T19:20:00Z","expiration_time":"2025-11-03T19:20:00Z","expiration_value":"","last_price":17,"last_price_dollars":"0.1700","latest_expiration_time":"2025-11-03T19:20:00Z","liquidity":43925,"liquidity_dollars":"439.2500","market_type":"binary","no_ask":83,"no_ask_dollars":"0.8300","no_bid":2,"no_bid_dollars":"0.0200","no_sub_title":"2","notional_value":100,"notional_value_dollars":"1.0000","open_interest":176,"open_time":"2025-11-03T19:10:00Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        1+1 equals 2 on Nov 03 at 14:20 the market resolves to Yes.","rules_secondary":"","settlement_timer_seconds":60,"status":"open","subtitle":"","tick_size":1,"ticker":"KXQUICKSETTLE-25NOV03H1420-2","title":"Will
        1+1 equal 2 on Nov 03 at 14:20?","volume":264,"volume_24h":139,"yes_ask":98,"yes_ask_dollars":"0.9800","yes_bid":17,"yes_bid_dollars":"0.1700","yes_sub_title":"2"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
