interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/KXQUICKSETTLE-25NOV03H1540-3
  response:
    body:
      string: '{"market":{"can_close_early":true,"category":"","close_time":"2025-11-03T20:40:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1540","expected_expiration_time":"2025-11-03T20:40:00Z","expiration_time":"2025-11-03T20:40:00Z","expiration_value":"","last_price":99,"last_price_dollars":"0.9900","latest_expiration_time":"2025-11-03T20:40:00Z","liquidity":40559,"liquidity_dollars":"405.5900","market_type":"binary","no_ask":33,"no_ask_dollars":"0.3300","no_bid":1,"no_bid_dollars":"0.0100","no_sub_title":"3","notional_value":100,"notional_value_dollars":"1.0000","open_interest":92,"open_time":"2025-11-03T20:30:00Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        1+1 equals 3 on Nov 03 at 15:40 the market resolves to Yes.","rules_secondary":"","settlement_timer_seconds":60,"status":"open","subtitle":"","tick_size":1,"ticker":"KXQUICKSETTLE-25NOV03H1540-3","title":"Will
        1+1 equal 3 on Nov 03 at 15:40?","volume":93,"volume_24h":92,"yes_ask":99,"yes_ask_dollars":"0.9900","yes_bid":67,"yes_bid_dollars":"0.6700","yes_sub_title":"3"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
