interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?limit=10&status=closed
  response:
    body:
      string: '{"cursor":"CgwI1_ygyAYQyOjLsQMSGUtYRVRIRC0yNU5PVjAzMDktVDQyNTkuOTk","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-03T14:00:00Z","event_ticker":"KXETHD-25NOV0309","expected_expiration_time":"2025-11-03T14:05:00Z","expiration_time":"2025-11-10T14:00:00Z","expiration_value":"","floor_strike":4439.99,"last_price":4,"last_price_dollars":"0.0400","latest_expiration_time":"2025-11-10T14:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":0,"no_bid_dollars":"0.0000","no_sub_title":"$4,440
        or above","notional_value":100,"notional_value_dollars":"1.0000","open_interest":1182,"open_time":"2025-11-03T06:00:01Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        the simple average of the sixty seconds of CF Benchmarks'' Ethereum Real-Time
        Index (ERTI) before 9 AM EST is above 4439.99 at 9 AM EST on Nov 3, 2025,
        then the market resolves to Yes.","rules_secondary":"Not all cryptocurrency
        price data is the same. While checking a source like Google or Coinbase may
        help guide your decision, the price used to determine this market is based
        on CF Benchmarks'' corresponding Real Time Index (RTI). At the last minute
        before expiration, 60 RTI prices are collected. The official and final value
        is the average of these prices.","settlement_timer_seconds":60,"status":"closed","strike_type":"greater","subtitle":"$4,440
        or above","tick_size":1,"ticker":"KXETHD-25NOV0309-T4439.99","title":"Ethereum
        price at Nov 3, 2025 at 9am EST?","volume":2863,"volume_24h":2863,"yes_ask":100,"yes_ask_dollars":"1.0000","yes_bid":0,"yes_bid_dollars":"0.0000","yes_sub_title":"$4,440
        or above"},{"can_close_early":true,"category":"","close_time":"2025-11-03T14:00:00Z","event_ticker":"KXETHD-25NOV0309","expected_expiration_time":"2025-11-03T14:05:00Z","expiration_time":"2025-11-10T14:00:00Z","expiration_value":"","floor_strike":4419.99,"last_price":5,"last_price_dollars":"0.0500","latest_expiration_time":"2025-11-10T14:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":0,"no_bid_dollars":"0.[...]
