interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders?status=resting&limit=100
  response:
    body:
      string: '{"cursor":"","orders":[{"action":"buy","client_order_id":"","created_time":"2025-11-03T20:22:01.106612Z","expiration_time":null,"fill_count":0,"initial_count":5,"last_update_time":"2025-11-03T20:22:01.106612Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"15204cc6-66d6-4f74-901c-8e85bba07669","queue_position":0,"remaining_count":5,"self_trade_prevention_type":null,"side":"yes","status":"resting","taker_fees":0,"taker_fees_dollars":null,"taker_fill_cost":0,"taker_fill_cost_dollars":"0.0000","ticker":"KXQUICKSETTLE-25NOV03H1530-3","type":"limit","user_id":"9940974f-9a5c-47f2-b103-d46164f7f355","yes_price":1,"yes_price_dollars":"0.0100"},{"action":"buy","client_order_id":"4c279d31-2766-4182-8e8a-3eba3bd154b6","created_time":"2025-11-03T18:02:03.749329Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-11-03T18:02:03.749329Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"a5b064cd-d824-4428-a7ee-8d3cc8506091","queue_position":0,"remaining_count":1,"self_trade_preven[...]
