interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/events?limit=1&status=open
  response:
    body:
      string: '{"cursor":"CgYI8Oj1nQ8SDUtYRUxPTk1BUlMtOTk","events":[{"available_on_brokers":false,"category":"World","collateral_return_type":"","event_ticker":"KXELONMARS-99","mutually_exclusive":false,"series_ticker":"KXELONMARS","strike_period":"","sub_title":"Before
        2099","title":"Will Elon Musk visit Mars in his lifetime?"}],"milestones":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/events/INXD
  response:
    body:
      string: '{"error":{"code":"not_found","message":"not found","service":"query-exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
