interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elections.kalshi.com/trade-api/v2/events?limit=1
  response:
    body:
      string: '{"cursor":"CgYI8Oj1nQ8SDUtYRUxPTk1BUlMtOTk","events":[{"available_on_brokers":false,"category":"World","collateral_return_type":"","event_ticker":"KXELONMARS-99","mutually_exclusive":false,"series_ticker":"KXELONMARS","strike_period":"","sub_title":"Before
        2099","title":"Will Elon Musk visit Mars in his lifetime?"}],"milestones":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
