interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?status=open&limit=100
  response:
    body:
      string: "{\"cursor\":\"CgwI9dmjyAYQ-OLE1AESIUtYTkNBQU1CVE9UQUwtMjVOT1YwM0JSQURTQk9OLTE1MQ\",\"markets\":[{\"can_close_early\":true,\"category\":\"\",\"close_time\":\"2025-11-18T18:10:00Z\",\"custom_strike\":{\"tennis_competitor\":\"b524322e-690c-4f3d-b71e-d7b7b4eb3e36\"},\"early_close_condition\":\"This
        market will close and expire after a winner is declared.\",\"event_ticker\":\"KXATPMATCH-25NOV04CAZNOR\",\"expected_expiration_time\":\"2025-11-04T21:10:00Z\",\"expiration_time\":\"2025-11-18T18:10:00Z\",\"expiration_value\":\"\",\"last_price\":0,\"last_price_dollars\":\"0.0000\",\"latest_expiration_time\":\"2025-11-18T18:10:00Z\",\"liquidity\":0,\"liquidity_dollars\":\"0.0000\",\"market_type\":\"binary\",\"no_ask\":100,\"no_ask_dollars\":\"1.0000\",\"no_bid\":0,\"no_bid_dollars\":\"0.0000\",\"no_sub_title\":\"Cameron
        Norrie\",\"notional_value\":100,\"notional_value_dollars\":\"1.0000\",\"open_interest\":0,\"open_time\":\"2025-11-03T20:27:31Z\",\"previous_price\":0,\"previous_price_dollars\":\"0.0000\",\"previous_yes_ask\":0,\"previous_yes_ask_dollars\":\"0.0000\",\"previous_yes_bid\":0,\"previous_yes_bid_dollars\":\"0.0000\",\"price_level_structure\":\"linear_cent\",\"price_ranges\":[{\"end\":\"1.0000\",\"start\":\"0.0000\",\"step\":\"0.0100\"}],\"response_price_units\":\"usd_cent\",\"result\":null,\"risk_limit_cents\":0,\"rules_primary\":\"If
        Cameron Norrie wins the Cazaux vs Norrie professional tennis match in the
        2025 ATP Metz Round Of 16 after a ball has been played, then the market resolves
        to Yes.\",\"rules_secondary\":\"The following market refers to the Cazaux
        vs Norrie professional tennis match in the 2025 ATP Metz Round Of 16 after
        a ball has been played. If the match does not occur (signaled by a ball being
        played) due to a player injury, walkover, forfeiture, or any other cancellation
        (all before the match starts), the market will resolve to a fair price in
        accordance with the rules. If this match is postponed or delayed, the market
        will remain open and close after the rescheduled match has finished (within
        two weeks).\",\"settlement_timer_seconds\":300,\"status\":\"open\",\"strike_type\":\"structured\",\"subtitle\":\"\",\"tick_size\":1,\"ticker\":\"KXATPMATCH-25NOV04CAZNOR-NOR\",\"title\":\"Will
        Cameron Norrie win the Cazaux vs Norrie match?\",\"volume\":0,\"volume_24h\":0,\"yes_ask\":100,\"yes_ask_dollars\":\"1.0000\",\"yes_bid\":0,\"yes_bid_dollars\":\"0.0000\",\"yes_sub_title\":\"Cameron
        Norrie\"},{\"can_close_early\":true,\"category\":\"\",\"close_time\":\"2025-11-18T18:10:00Z\",\"custom_strike\":{\"tennis_competitor\":\"a2c9d434-5fc6-4242-b4c9-f951d1c1eb8f\"},\"early_close_condition\":\"This
        market will close and expire after a winner is declared.\",\"event_ticker\":\"KXATPMATCH-25NOV04CAZNOR\",\"expected_expiration_time\":\"2025-11-04T21:10:00Z\",\"expiration_time\":\"2025-11-18T18:10:00Z\",\"expiration_value\":\"\",\"last_price\":0,\"last_price_doll[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?status=open&limit=100&cursor=CgwI9dmjyAYQ-OLE1AESIUtYTkNBQU1CVE9UQUwtMjVOT1YwM0JSQURTQk9OLTE1MQ
  response:
    body:
      string: '{"cursor":"CgsI8tmjyAYQgLPAYhIjS1hOQ0FBTUJTUFJFQUQtMjVOT1YwM0JJTkdTWVItU1lSMzM","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-17T16:00:00Z","early_close_condition":"This
        market will close and expire early if the event occurs.","event_ticker":"KXNCAAMBTOTAL-25NOV03BRADSBON","expected_expiration_time":"2025-11-03T19:00:00Z","expiration_time":"2025-11-17T16:00:00Z","expiration_value":"","floor_strike":148.5,"last_price":0,"last_price_dollars":"0.0000","latest_expiration_time":"2025-11-17T16:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":100,"no_bid_dollars":"1.0000","no_sub_title":"Over
        148.5 points scored","notional_value":100,"notional_value_dollars":"1.0000","open_interest":0,"open_time":"2025-11-03T18:24:48Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?status=open&limit=100&cursor=CgsI8tmjyAYQgLPAYhIjS1hOQ0FBTUJTUFJFQUQtMjVOT1YwM0JJTkdTWVItU1lSMzM
  response:
    body:
      string: '{"cursor":"CgsI8NmjyAYQsLmnWhIkS1hOQ0FBTUJTUFJFQUQtMjVOT1YwM01JWlpIT1ctTUlaWjI1","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-18T00:00:00Z","custom_strike":{"basketball_team":"b0fef671-ddaa-4d07-b402-47b0a4a1bc86"},"early_close_condition":"This
        market will close and expire after a winner is declared.","event_ticker":"KXNCAAMBSPREAD-25NOV03BINGSYR","expected_expiration_time":"2025-11-04T03:00:00Z","expiration_time":"2025-11-18T00:00:00Z","expiration_value":"","floor_strike":30.5,"last_price":0,"last_price_dollars":"0.0000","latest_expiration_time":"2025-11-18T00:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_doll[...]
