interactions:
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 10,
      "type": "limit", "yes_price": 50, "buy_max_cost": 500}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"service_unavailable","message":"service_unavailable","service":"exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 503
      message: Service Unavailable
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "sell", "count": 5,
      "type": "limit", "yes_price": 50, "sell_position_floor": 10}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"invalid_order","message":"invalid order","details":"sell_position_floor
        must be 0 if provided, use reduce_only instead"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
