interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.elections.kalshi.com/trade-api/v2/markets?limit=10
  response:
    body:
      string: '{"cursor":"CgsIoruiyAYQ6NyfCBIvS1hNVkVORkxTSU5HTEVHQU1FLVMyMDI1MEQ1MzJERjIwQzQtNzk3OTQ0NEJBQkY","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-18T01:15:00Z","custom_strike":{"Associated
        Events":"KXNFLPASSYDS-25NOV03ARIDAL,KXNFLRECYDS-25NOV03ARIDAL,KXNFLTOTAL-25NOV03ARIDAL","Associated
        Market Sides":"yes,yes,yes","Associated Markets":"KXNFLPASSYDS-25NOV03ARIDAL-DALDPRESCOTT4-225,KXNFLRECYDS-25NOV03ARIDAL-ARITMCBRIDE85-50,KXNFLTOTAL-25NOV03ARIDAL-46","Multivariate
        Event Ticker":"KXMVENFLSINGLEGAME-25NOV03ARIDAL"},"event_ticker":"KXMVENFLSINGLEGAME-S20250387BA544F7","expected_expiration_time":"2025-11-04T04:15:00Z","expiration_time":"2025-11-18T01:15:00Z","expiration_value":"","last_price":0,"last_price_dollars":"0.0000","latest_expiration_time":"2025-11-18T01:15:00Z","liquidity":38301,"liquidity_dollars":"383.0100","market_type":"binary","mve_collection_ticker":"KXMVENFLSINGLEGAME-25NOV03ARIDAL","mve_selected_legs":[{"event_ticker":"KXNFLPASSYDS-25NOV03ARIDAL","market_ticker":"KXNFLPASSYDS-25NOV03ARIDAL-DALDPRESCOTT4-225","side":"yes"},{"event_ticker":"KXNFLRECYDS-25NOV03ARIDAL","market_ticker":"KXNFLRECYDS-25NOV03ARIDAL-ARITMCBRIDE85-50","side":"yes"},{"event_ticker":"KXNFLTOTAL-25NOV03ARIDAL","market_ticker":"KXNFLTOTAL-25NOV03ARIDAL-46","side":"yes"}],"no_ask":99,"no_ask_dollars":"0.9900","no_bid":15,"no_bid_dollars":"0.1500","no_sub_title":"yes
        Dak Prescott: 225+,yes Trey McBride: 50+,yes Over 46.5 points scored","notional_value":100,"notional_value_dollars":"1.0000","open_interest":0,"open_time":"2025-11-03T12:20:33.731114Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"deci_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0010"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"","rules_secondary":"","settlement_timer_seconds":600,"status":"active","strike_type":"custom","subtitle":"","tick_size":1,"ticker":"KXMVENFLSINGLEGAME-S20250387BA544F7-1A7764DA87E","title":"yes
        Dak Prescott: 225+,yes Trey McBride: 50+,yes Over 46.5 points scored","volume":0,"volume_24h":0,"yes_ask":85,"yes_ask_dollars":"0.8500","yes_bid":1,"yes_bid_dollars":"0.0100","yes_sub_title":"yes
        Dak Prescott: 225+,yes Trey McBride: 50+,yes Over 46.5 points scored"},{"can_close_early":true,"category":"","close_time":"2025-11-18T01:15:00Z","custom_strike":{"Associated
        Events":"KXNFLANYTD-25NOV03ARIDAL,KXNFLPASSYDS-25NOV03ARIDAL,KXNFLTOTAL-25NOV03ARIDAL","Associated
        Market Sides":"yes,yes,no","Associated Markets":"KXNFLANYTD-25NOV03ARIDAL-DALJWILLIAMS33,KXNFLPASSYDS-25NOV03ARIDAL-DALDPRESCOTT4-350,KXNFLTOTAL-25NOV03ARIDAL-60","Multivariate
        Event Ticker"[...]
