interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/trades?limit=100
  response:
    body:
      string: '{"cursor":"EhIKEMLe1rNUq3BbjULmWPJsVE4aDAi6oKTIBhDA6I3xAQ","trades":[{"count":34,"created_time":"2025-11-03T20:28:05.256947Z","no_price":32,"no_price_dollars":"0.3200","price":0.68,"taker_side":"yes","ticker":"KXETHD-25NOV0316-T4349.99","trade_id":"bb75a777-84de-772f-c8cb-6db204e9f20a","yes_price":68,"yes_price_dollars":"0.6800"},{"count":21,"created_time":"2025-11-03T20:28:04.26027Z","no_price":25,"no_price_dollars":"0.2500","price":0.75,"taker_side":"yes","ticker":"KXETHD-25NOV0316-T3609.99","trade_id":"c2a68e91-02c6-62f8-a99a-50c29bb5a130","yes_price":75,"yes_price_dollars":"0.7500"},{"count":25,"created_time":"2025-11-03T20:28:04.03608Z","no_price":16,"no_price_dollars":"0.1600","price":0.84,"taker_side":"yes","ticker":"KXETHD-25NOV0316-T4369.99","trade_id":"ad44161d-3adb-40c6-164d-58bef750ea5e","yes_price"[...]
