interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/balance
  response:
    body:
      string: '{"balance":979,"portfolio_value":0,"updated_ts":1762203598}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 1, "type":
      "limit", "yes_price": 1, "reduce_only": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"invalid_order","message":"invalid order","details":"reduce_only
        can only be used with IoC orders"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
