interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/balance
  response:
    body:
      string: '{"balance":979,"portfolio_value":0,"updated_ts":1762203595}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 1, "type":
      "limit", "yes_price": 1, "time_in_force": "gtt", "expiration_ts": 1762207195}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"service_unavailable","message":"service_unavailable","service":"exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 503
      message: Service Unavailable
version: 1
