interactions:
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 1, "type":
      "limit", "yes_price": 1, "self_trade_prevention_type": "cancel_resting"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"service_unavailable","message":"service_unavailable","service":"exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 503
      message: Service Unavailable
[...]
- request:
    body: '{"ticker": "HIGHTEST-24", "side": "yes", "action": "buy", "count": 1, "type":
      "limit", "yes_price": 1, "self_trade_prevention_type": "allow"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders
  response:
    body:
      string: '{"error":{"code":"service_unavailable","message":"service_unavailable","service":"exchange"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 503
      message: Service Unavailable
version: 1
