interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/fills?limit=100
  response:
    body:
      string: '{"cursor":"","fills":[{"action":"buy","count":1,"created_time":"2025-11-03T20:03:04.489105Z","fill_id":"d6da71e6-23b6-7b8e-58ce-7853fcc20218","is_taker":false,"market_ticker":"KXQUICKSETTLE-25NOV03H1510-3","no_price":99,"no_price_fixed":"0.9900","order_id":"ce9ec7b9-2a8f-48a0-98da-cf74d0ce425c","price":0.01,"side":"yes","ticker":"KXQUICKSETTLE-25NOV03H1510-3","trade_id":"d6da71e6-23b6-7b8e-58ce-7853fcc20218","ts":1762200184,"yes_price":1,"yes_price_fixed":"0.0100"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
