interactions:
- request:
    body: '{"orders": [{"ticker": "HIGHTEST-24", "type": "limit", "action": "buy",
      "side": "yes", "count": 1, "yes_price": 1}]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders/batched
  response:
    body:
      string: '{"orders":[{"client_order_id":null,"error":{"code":"market_not_found","details":"","message":"market
        not found","service":"exchange"},"order":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 201
      message: Created
version: 1
