interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/positions?limit=100
  response:
    body:
      string: '{"cursor":"","event_positions":[{"event_exposure":0,"event_exposure_dollars":"0.0000","event_ticker":"KXATPMATCH-25NOV04CAZNOR","fees_paid":0,"fees_paid_dollars":"0.0000","realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_order_count":0,"total_cost":0,"total_cost_dollars":"0.0000"},{"event_exposure":0,"event_exposure_dollars":"0.0000","event_ticker":"KXQUICKSETTLE-25NOV03H1530","fees_paid":0,"fees_paid_dollars":"0.0000","realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_order_count":5,"total_cost":0,"total_cost_dollars":"0.0000"},{"event_exposure":0,"event_exposure_dollars":"0.0000","event_ticker":"KXQUICKSETTLE-25NOV03H1520","fees_paid":0,"fees_paid_dollars":"0.0000","realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_order_count":0,"total_cost":0,"total_cost_dollars":"0.0000"},{"event_exposure":0,"event_exposure_dollars":"0.0000","event_ticker":"KXCSGOGAME-FURG225","fees_paid":0,"fees_paid_dollars":"0.0000","realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_order_count":3,"total_cost":0,"total_cost_dollars":"0.0000"}],"market_positions":[{"fees_paid":0,"fees_paid_dollars":"0.0000","last_updated_ts":"2025-11-03T20:27:56.306763Z","market_exposure":0,"market_exposure_dollars":"0.0000","position":0,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":0,"ticker":"KXATPMATCH-25NOV04CAZNOR-NOR","total_traded":0,"total_traded_dollars":"0.0000"},{"fees_paid":0,"fees_paid_dollars":"0.0000","last_updated_ts":"2025-11-03T20:21:59.128617Z","market_exposure":0,"market_exposure_dollars":"0.0000","position":0,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":5,"ticker":"KXQUICKSETTLE-25NOV03H1530-3","total_traded":0,"total_traded_dollars":"0.0000"},{"fees_paid":0,"fees_paid_dollars":"0.0000","last_updated_ts":"2025-11-03T20:20:00.351685Z","market_exposure":0,"market_exposure_dollars":"0.0000","position":0,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":0,"ticker":"KXQUICKSETTLE-25NOV03H1520-2","total_traded":0,"total_traded_dollars":"0.0000"},{"fees_paid":0,"fees_paid_dollars":"0.0000","last_updated_ts":"2025-11-03T18:02:01.971208Z","market_exposure":0,"market_exposure_dollars":"0.0000","position":0,"realized_pnl":0,"realized_pnl_dollars":"0.0000","resting_orders_count":3,"ticker":"KXCSGOGAME-FURG225-G2","total_traded":0,"total_traded_dollars":"0.0000"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/fills?limit=100
  response:
    body:
      string: '{"cursor":"","fills":[{"action":"buy","count":1,"created_time":"2025-11-03T20:03:04.489105Z","fill_id":"d6da71e6-23b6-7b8e-58ce-7853fcc20218","is_taker":false,"market_ticker":"KXQUICKSETTLE-25NOV03H1510-3","no_price":99,"no_price_fixed":"0.9900","order_id":"ce9ec7b9-2a8f-48a0-98da-cf74d0ce425c","price":0.01,"side":"yes","ticker":"KXQUICKSETTLE-25NOV03H1510-3","trade_id":"d6da71e6-23b6-7b8e-58ce-7853fcc20218","ts":1762200184,"yes_price":1,"yes_price_fixed":"0.0100"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders?status=resting&limit=100
  response:
    body:
      string: '{"cursor":"","orders":[{"action":"buy","client_order_id":"","created_time":"2025-11-03T20:22:01.106612Z","expiration_time":null,"fill_count":0,"initial_count":5,"last_update_time":"2025-11-03T20:22:01.106612Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"15204cc6-66d6-4f74-901c-8e85bba07669","queue_position":0,"remaining_count":5,"self_trade_prevention_type":null,"side":"yes","status":"resting","taker_fees":0,"taker_fees_dollars":null,"taker_fill_cost":0,"taker_fill_cost_dollars":"0.0000","ticker":"KXQUICKSETTLE-25NOV03H1530-3","type":"limit","user_id":"9940974f-9a5c-47f2-b103-d46164f7f355","yes_price":1,"yes_price_dollars":"0.0100"},{"action":"buy","client_order_id":"4c279d31-2766-4182-8e8a-3eba3bd154b6","created_time":"2025-11-03T18:02:03.749329Z","expiration_time":null,"fill_count":0,"initial_count":1,"last_update_time":"2025-11-03T18:02:03.749329Z","maker_fees":0,"maker_fees_dollars":null,"maker_fill_cost":0,"maker_fill_cost_dollars":"0.0000","no_price":99,"no_price_dollars":"0.9900","order_group_id":null,"order_id":"a5b064cd-d824-4428-a7ee-8d3cc8506091","queue_position":0,"remaining_count":1,"self_trade_preven[...]
