interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/events?limit=5&status=open
  response:
    body:
      string: '{"cursor":"CgYI8JHtswkSDktYRVJVUFRTVVBFUi0w","events":[{"available_on_brokers":false,"category":"World","collateral_return_type":"","event_ticker":"KXELONMARS-99","mutually_exclusive":false,"series_ticker":"KXELONMARS","strike_period":"","sub_title":"Before
        2099","title":"Will Elon Musk visit Mars in his lifetime?"},{"available_on_brokers":false,"category":"World","collateral_return_type":"MECNET","event_ticker":"KXNEWPOPE-70","mutually_exclusive":true,"series_ticker":"KXNEWPOPE","strike_period":"","sub_title":"Before
        2070","title":"Who will the next Pope be?"},{"available_on_brokers":false,"category":"Climate
        and Weather","collateral_return_type":"","event_ticker":"KXWARMING-50","mutually_exclusive":false,"series_ticker":"KXWARMING","strike_period":"","sub_title":"Before
        2050","title":"Will the world pass 2 degrees Celsius over pre-industrial levels
        before 2050?"},{"available_on_brokers":false,"category":"Science and Technology","collateral_return_type":"","event_ticker":"KXMARSVRAIL-50","mutually_exclusive":false,"series_ticker":"KXMARSVRAIL","strike_period":"","sub_title":"Before
        2050","title":"Will a human land on Mars before California starts high-speed
        rail?"},{"available_on_brokers":false,"category":"Climate and Weather","collateral_return_type":"","event_ticker":"KXERUPTSUPER-0","mutually_exclusive":false,"series_ticker":"KXERUPTSUPER","strike_period":"","sub_title":"a
        supervolcano","title":"Will a supervolcano erupt before 2050?"}],"milestones":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets?limit=5&status=open
  response:
    body:
      string: '{"cursor":"CgwI9dmjyAYQ4Ij3vQISJEtYTkNBQU1CU1BSRUFELTI1Tk9WMDNCUkFEU0JPTi1TQk9OMg","markets":[{"can_close_early":true,"category":"","close_time":"2025-11-03T19:20:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1420","expected_expiration_time":"2025-11-03T19:20:00Z","expiration_time":"2025-11-03T19:20:00Z","expiration_value":"","last_price":85,"last_price_dollars":"0.8500","latest_expiration_time":"2025-11-03T19:20:00Z","liquidity":62533,"liquidity_dollars":"625.3300","market_type":"binary","no_ask":15,"no_ask_dollars":"0.1500","no_bid":3,"no_bid_dollars":"0.0300","no_sub_title":"3","notional_value":100,"notional_value_dollars":"1.0000","open_interest":169,"open_time":"2025-11-03T19:10:00Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        1+1 equals 3 on Nov 03 at 14:20 the market resolves to Yes.","rules_secondary":"","settlement_timer_seconds":60,"status":"open","subtitle":"","tick_size":1,"ticker":"KXQUICKSETTLE-25NOV03H1420-3","title":"Will
        1+1 equal 3 on Nov 03 at 14:20?","volume":207,"volume_24h":128,"yes_ask":97,"yes_ask_dollars":"0.9700","yes_bid":85,"yes_bid_dollars":"0.8500","yes_sub_title":"3"},{"can_close_early":true,"category":"","close_time":"2025-11-03T19:20:00Z","event_ticker":"KXQUICKSETTLE-25NOV03H1420","expected_expiration_time":"2025-11-03T19:20:00Z","expiration_time":"2025-11-03T19:20:00Z","expiration_value":"","last_price":17,"last_price_dollars":"0.1700","latest_expiration_time":"2025-11-03T19:20:00Z","liquidity":43925,"liquidity_dollars":"439.2500","market_type":"binary","no_ask":83,"no_ask_dollars":"0.8300","no_bid":2,"no_bid_dollars":"0.0200","no_sub_title":"2","notional_value":100,"notional_value_dollars":"1.0000","open_interest":176,"open_time":"2025-11-03T19:10:00Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        1+1 equals 2 on Nov 03 at 14:20 the market resolves to Yes.","rules_secondary":"","settlement_timer_seconds":60,"status":"open","subtitle":"","tick_size":1,"ticker":"KXQUICKSETTLE-25NOV03H1420-2","title":"Will
        1+1 equal 2 on Nov 03 at 14:20?","volume":264,"volume_24h":139,"yes_ask":98,"yes_ask_dollars":"0.9800","yes_bid":17,"yes_bid_dollars":"0.1700","yes_sub_title":"2"},{"can_close_early":true,"category":"","close_time":"2025-11-17T16:00:00Z","custom_strike":{"basketball_team":"120ce01a-73f9-4863-b6a8-b5a3afc64d78"},"early_close_condition":"This
        market will close and expire after a winner is declared.","event_ticker":"KXNCAAMBSPREAD-25NOV03BRADSBON","expected_expiration_time":"2025-11-03T19:00:00Z","expiration_time":"2025-11-17T16:00:00Z","expiration_value":"","floor_strike":8.5,"last_price":0,"last_price_dollars":"0.0000","latest_expiration_time":"2025-11-17T16:00:00Z","liquidity":0,"liquidity_dollars":"0.0000","market_type":"binary","no_ask":100,"no_ask_dollars":"1.0000","no_bid":100,"no_bid_dollars":"1.0000","no_sub_title":"St.
        Bonaventure wins by over 8.5 Points","notional_value":100,"notional_value_dollars":"1.0000","open_interest":0,"open_time":"2025-11-03T18:24:48Z","previous_price":0,"previous_price_dollars":"0.0000","previous_yes_ask":0,"previous_yes_ask_dollars":"0.0000","previous_yes_bid":0,"previous_yes_bid_dollars":"0.0000","price_level_structure":"linear_cent","price_ranges":[{"end":"1.0000","start":"0.0000","step":"0.0100"}],"response_price_units":"usd_cent","result":null,"risk_limit_cents":0,"rules_primary":"If
        St. Bonaventure wins by more than 8.5 points in the Bradley at St. Bonaventure
        college basketball game originally scheduled for Nov 3, 2025, then the market
        resolves to Yes.","rules_secondary":"","settlement_timer_seconds":300,"status":"open","strike_type":"greater","subtitle":"","tick_size":1,"ticker":"KXNCAAMBSPREAD-25NOV03BRADSBON-SBON8","title":"St.
        Bonaventure wins by over 8.5 Points?","volume":0,"volume_24h":0,"yes_ask":0,"yes_ask_dollars":"0.0000","yes_bid":0,"yes_bid_dollars":"0.0000","yes_sub_title":"St.
        Bonaventure wins by over 8.5 Points"},{"can_close_early":true,"category":"","close_time":"2025-11-17T16:00:00Z","custom_strike":{"basketball_team":"120ce01a-73f9-4863-b6a8-b5a3afc64d78"},"early_close_condition":"This
     [...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://demo-api.kalshi.co/trade-api/v2/markets/trades?limit=20
  response:
    body:
      string: '{"cursor":"EhIKEFDA3e3-q2J2gZvsIj-LW_waDAjK_6PIBhD42b-nAw","trades":[{"count":3,"created_time":"2025-11-03T19:17:33.048264Z","no_price":26,"no_price_dollars":"0.2600","price":0.74,"taker_side":"no","ticker":"KXDOGE-25NOV0315-B0.162","trade_id":"5fa22e20-f4e7-6ade-46f6-05294abb030e","yes_price":74,"yes_price_dollars":"0.7400"},{"count":3,"created_time":"2025-11-03T19:17:32.956707Z","no_price":26,"no_price_dollars":"0.2600","price":0.74,"taker_side":"yes","ticker":"KXDOGE-25NOV0315-B0.132","trade_id":"9dfdcb66-ed4d-47cf-4d48-d6a8b311b9cc","yes_price":74,"yes_price_dollars":"0.7400"},{"count":50,"created_time":"2025-11-03T19:17:32.934762Z","no_price":11,"no_price_dollars":"0.1100","price":0.89,"taker_side":"no","ticker":"KXETH-25NOV0315-B3110","trade_id":"43fa3a95-4323-5e57-ef2b-10a19b8c7a65","yes_price":89,"y[...]
