interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://api.elections.kalshi.com/trade-api/v2/portfolio/positions?limit=100
  response:
    body:
      string: '{"error":{"code":"authentication_error","message":"authentication_error","details":"rpc
        error: code = InvalidArgument desc = INVALID_PARAMETER"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
