interactions:
- request:
    body: '{"reduce_by": 5}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://demo-api.kalshi.co/trade-api/v2/portfolio/orders/invalid-order-id/decrease
  response:
    body:
      string: '{"error":{"code":"authentication_error","message":"authentication_error","details":"rpc
        error: code = Unauthenticated desc = INCORRECT_API_KEY_SIGNATURE"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
